* {
  font-family:  'Prosto One', cursive;
}

body, html {
  margin: 0px;
  height: 100%;
  display: grid;
}

body {
  max-width: 100%;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
  background-size: cover;
  opacity: .2;
  filter: grayscale(50%);
}

footer {
  height: 50px;
  background-color: rgb(16, 83, 92);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer:hover {
  height: 100px;
  background-color: rgb(16, 83, 92);
  opacity: .6;
}

a {
  color: white;
  text-decoration: none;
}
/* 
a:hover {
  color: black;
  font-weight: bold;
} */
