* {
  font-family:  'Prosto One', cursive;
}

body, html {
  margin: 0px;
  height: 100%;
  display: grid;
}

body {
  max-width: 100%;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
  background-size: cover;
  /* opacity: .2; */
  /* filter: grayscale(50%); */
}

footer, .about-us {
  height: 50px;
  background-color: rgb(0, 158, 137);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}


a {
  color: black;
  text-decoration: none;
}
