* {
  font-family:  'Prosto One', cursive;
}

body, html {
  height: 100%;
  display: grid;
}

body {
  max-width: 100%;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
  background-size: cover;
  /* opacity: .7; */
  /* filter: grayscale(100%); */
}



