

.red {
  color: rgb(27, 127, 131);
  font-size: 70%;
}

.enter {
  color: white;
  background-color: rgb(0, 41, 20);
  padding: 15px 50px;
  border: 1px solid  black;
  border-radius: 20%;
}

.enter:hover {
  transition-duration: 0.4s;
  background-color: black;
  box-shadow: 0 0 20px 14px white;
}


.form {
  width: 40%;
  background-color: white;
  opacity: .7;
}

form * {
  display: block;
  margin: auto;
  width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  margin-top: 5%;
  height: 50px;
}




.result-view {
  background-color: white;
  opacity: .85;
  margin-top: 0px;
  font-size: 1em;
  margin: auto;
  display: flex;
}

#result-view {
  display: flex;
  width: 90%;
  flex: auto;
  overflow: auto;
  justify-content: space-around;
}

.event-result {
  border: 1px solid black;
  width: 400px;
}

#result-view li{
  list-style-type: none;
}

img {
  max-width: 100%;
}




