.sub-heading {
  color: rgb(250, 194, 222);
  font-size: 70%;
}

#enter {
  color: white;
  padding: 15px 50px;
}

.enter {
  background-color: black;
  padding: 15px;
  border: 1px solid  rgb(37, 248, 139);
  border-radius: 20%;
  margin-bottom: 100px;
  box-shadow: 0 0 20px 14px rgb(235, 20, 163);
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: .6;
  }
}


.form {
  background-color: white;
  opacity: .8;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
}

form * {
  display: block;
  margin: auto;
  width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  margin-top: 5%;
  height: 50px;
}

#results-button {
  display: block;
  margin: auto;
  width: 100%;
  border: none;
  margin-top: 0px;
  height: 50px;
}


section.result-view {
  padding: 0;
  width: 90%;
}

.result-view {
  background-color: white;
  opacity: .85;
  margin-top: 0px;
  font-size: 1em;
  margin: auto;
  display: flex;
}

#result-view {
  display: flex;
  flex: auto;
  justify-content: space-around;
}

.event-result {
  border: 1px solid black;
  width: 100%;
}

#result-view li{
  list-style-type: none;
}

ul {
  padding: 0;
}

img {
  max-width: 100%;
  width: 85%;
}

#image-icon {
  margin: auto;
}

#result-text {
  height: 39%;
}


